<link href="{{ asset('css/navbar.css') }}" rel="stylesheet"/>

{% block body %}

    <div class="wrapper">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                    LOGO
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Photos</a></li>
                        <li><a href="#">Members Photos</a></li>
                        <li><a href="#">Log in</a></li>
                        {#<li><a href="#">Logout</a></li>#}
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>

{% endblock %}